*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #23242a;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    overflow-y: auto;
}
.content{
    text-align: center;
    margin: auto;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.content img{
    margin-bottom: 50px;
    margin-top: 50px;
    border: solid white;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .content img {
        margin-top: 100px;
    }
}

.scale {
    margin: auto;
    margin-top: 40px;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .scale {
        margin-top: 70px;
    }
}

svg .land{
    fill:#323741;
    stroke: #eee;
    stroke-width: .25;
}

svg .land3 {
    fill: rgb(171, 171, 171);
    stroke: black;
    stroke-width: 1;
}

svg .land:hover {
    fill: rgb(190, 198, 234);
    transition: 0.6s;
    cursor: pointer;
}

svg .land3:hover {
    fill: #323741;
    cursor: pointer;
    stroke: white;
}

svg .land1 {
    fill: rgb(171, 171, 171);
    stroke: black;
    stroke-width: .5;
}

svg .land2 {
    fill: rgb(171, 171, 171);
    stroke: black;
    stroke-width: 1;
}

svg .land2:hover {
    fill: #323741;
    cursor: pointer;
    stroke: white;
}

.title1 {
    margin-top: 20px;
    color: white;
    font-size: medium;
}

.title2 {
    color: white;
    font-size: small;
    margin-top: 10px;
    font-weight: 100;
}

.home {
    text-align: center;
    width: 150px;
    padding: 10px 35px;
    border-radius: 2em;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
    border: 2px transparent solid;
    background-color: white;
    color: black;
    border: none;
    margin-top: 30px;
    margin-bottom: 50px;
}

.home:hover {
    cursor: pointer;
    box-shadow: 0 0 0.8em #26489a;
    border: 2px #26489a solid;
}

.Caribbean {
    text-align: center;
    color: rgb(13, 1, 241);
    border: none;
    margin-top: 30px;
    margin-bottom: 50px;
}

.content p {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

.content a{
    color: rgb(4, 192, 255);
}

@media screen and (max-width: 600px) {
    .content p {
        font-size: 12px;
    }
}
